<div class="row">
    <div class="col-md-12">
        <h2>Welcome @User.Identity.Name</h2>
        <p>You have confirmed your identity either by logging in with a secure provider the first time or by logging in twice.</p>
    </div>
</div>